{% for comment in comments %}
    <div class="comment">
        {{ comment.user_name }} - {{ comment.created_at }}<br>
        {{ comment.text }}<br>
        <a href="{% url 'add_reply' parent_comment_id=comment.id %}">Ответить</a>
        <hr>
    </div>
{% endfor %}

<a href="{% url 'add_comment' %}">Add comment</a>

<div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">next</a>
            <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
